@{
    ViewData["Title"] = "SearchForm";
}

<h1>Search for your perfect dog</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SearchResults">
            <div class="form-group">
                <label for="SearchPhrase" class="control-label">Perks</label>
                <input name="SearchPhrase" class="form-control" />
            </div>
            <hr />
            <div class="form-group">
                <label for="SearchSize" class="control-label">Choose size</label>
                <select name="SearchSize" asp-items="Html.GetEnumSelectList<SizeEnum>()"></select>
            </div>
            <hr />
            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
