@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Pick-a-Breed will help you find your perfect companion among the dogs.</p>
    <img class="background" src="~/images/background.jpg" />
</div>
